*,*::before,*::after{
  box-sizing: border-box;
}
body{
  background:#fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.coach-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border-radius: 5px;
    border: 1px solid black;
}
.seatArea{
  display: flex;
  border-radius: 5px;
  gap :5px;
  padding: 5px 5px;
}
.seat-col{
  display: flex;
  justify-content: center;
  align-items:center;
}

.seat{
  height: 3rem;
  width: 3rem;
  position:relative;
  background:transparent;
  border:none;
}

.seat::before{
  content:'';
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAxMDAgMTAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICA8ZyBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjIiPgogICAgPHBhdGggZD0iTTMwIDEwIEg4MCBROTAgMTAgOTAgMjAgVjgwIFE5MCA5MCA4MCA5MCBIMzAgUTEwIDkwIDEwIDcwIFYzMCBRMTAgMTAgMzAgMTAgeiIgZmlsbD0ibm9uZSI+PC9wYXRoPgogICAgPHBhdGggZD0iTTMwIDEwIFEyMCAxMCAyMCAzMCBWNzAgUTIwIDkwIDMwIDkwIFExMCA5MCAxMCA3MCBWMzAgUTEwIDEwIDMwIDEweiIgZmlsbD0iIzAwMCI+PC9wYXRoPgogIDwvZz4KPC9zdmc+");
  background-position: center;   
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  width:100%;
  height:100%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.seat-selected::before{
  content:'';
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAxMDAgMTAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICA8ZyBzdHJva2U9IiM0MDgzMzUiIHN0cm9rZS13aWR0aD0iMiIgZmlsbD0iIzQwODMzNSI+CiAgICA8cGF0aCBkPSJNMzAgMTAgSDgwIFE5MCAxMCA5MCAyMCBWODAgUTkwIDkwIDgwIDkwIEgzMCBRMTAgOTAgMTAgNzAgVjMwIFExMCAxMCAzMCAxMCB6Ij48L3BhdGg+CiAgICA8cGF0aCBkPSJNMzAgMTAgUTIwIDEwIDIwIDMwIFY3MCBRMjAgOTAgMzAgOTAgUTEwIDkwIDEwIDcwIFYzMCBRMTAgMTAgMzAgMTB6Ij48L3BhdGg+CiAgPC9nPgo8L3N2Zz4=");
  cursor: pointer;
}
.seat span{
  position: absolute;
  left: 53%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size:0.8rem;
  cursor: pointer;
}
.seat.seat-selected .seat-number {
  display: none;
  visibility: hidden;
}
.aisle {
  height:2.5rem;
}
#selection-result{
  font-size: 2rem;
  padding-left: 2rem;
}
@media (max-width:1307.99px) {
  .seat{
    height: 2.5rem;
    width: 2.5rem;
  }
}
@media (max-width:886.99px) {
  .seat{
    height: 3rem;
    width: 3rem;
  }
  .seatArea{
    flex-direction: column;
  }
  .coach-container{
    flex-direction: row;
  }
  .aisle{
    width:2.5rem;
    height:100%;
  }
  #selection-result{
  padding-left: 0;
}
}
